COMPOSE_PROJECT_NAME=simon-workspace

API_IMAGE=simon-workspace-api:local
WEB_IMAGE=simon-workspace-web:local

MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=simon_workspace
MYSQL_USER=simon
MYSQL_PASSWORD=change_me_simon

REDIS_PASSWORD=change_me_redis

MINIO_ROOT_USER=simon_minio
MINIO_ROOT_PASSWORD=change_me_minio
MINIO_BUCKET=simon-workspace
